sudoku.pro.user
build/Desktop_Qt_6_9_1_MinGW_64_bit-Debug/.qtc_clangd/compile_commands.json
build/Desktop_Qt_6_9_1_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/main.cpp.59DE8C885DE47A6B.idx
build/Desktop_Qt_6_9_1_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/MainWindow.cpp.EB2C13DEE3484D4C.idx
build/Desktop_Qt_6_9_1_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/MainWindow.h.D5FE3DDC96ACC920.idx
build/Desktop_Qt_6_9_1_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/SudokuBoard.cpp.7286E613089F96DC.idx
build/Desktop_Qt_6_9_1_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/SudokuBoard.h.44EE5C9829F9E0B2.idx
build/Desktop_Qt_6_9_1_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/SudokuSolver.cpp.D73AEC5B94AFED25.idx
build/Desktop_Qt_6_9_1_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/SudokuSolver.h.7B418AA0B0DCB6B1.idx
